body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #333;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}
